body{
    font-family: 'Roboto', sans-serif;
}
.title {
    text-align: center;
    font-size: 24px;
}
.color{
    font-size: 12px;
    color: #0000FF;
    cursor: pointer;
}
.container {
    margin: 0 auto;
    width: 312px;
}
.main_container {
    display: flex;
    margin: 40px auto;
}
input {
    width: 98%;
    border: none;
    font-size: 16px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    outline: none;
}
.top {
    display: flex;
    align-items: center;
    width: 208%;
    justify-content: space-between;
    position: relative;
    left: 84px;
}
i.fa-solid.fa-trash {
    position: relative;
    left: 46px;
    top: -17px;
    font-size: 12px;
    transition: 0.2s;
}
i#icon:hover {
    transform: scale(1.1,1.1);
}
label {
    font-size: 18px;
}
.profile_icon {
    background-color: rgb(221,221,221);
    height: 100px;
    width: 100px;
    border: none;
    display: flex;
    border-radius: 68px;
    align-items: center;
    justify-content: center;
}
.dropZoneOverlay, .FileUpload {
    width: 283px;
    cursor: pointer;
}

.dropZoneOverlay {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #7066fb;
    position: absolute;
    top: 231px;
    text-align: center;
}

.FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 68px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.cancel_btn{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #FF0000;
}
.cancel_btn:hover{
    background-color: #ce0000;
}
#btn_link {
    position: relative;
    left: 100px;
    top: 24px;
}
.save_btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #7B65FF;
}
.save_btn:hover{
    background-color:#6452D0 ;
} 
label.error {
    color: red;
    font-size: 14px;
    position: relative;
    top: -13px;
}
textarea {
    margin-top: 10px;
    outline: none;
    width: 98%;
    height: 48px;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid;
    font-family: "Montserrat", sans-serif;
}
.error1{
    height: 14px;
}

/* classlist */

.none{
    display: none;
}
.block{
    display: block;
}