*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;

}

.homeclr{
   color:white;
   transition:all 0.5s;

}



.darkinput{
    background-color: white;
    color: black;
    transition:all 0.5s;

}

.blacktheme{
    background-color: black;
    color: white;
    transition:all 0.5s;
}

body{
    padding:0;
    margin: 0;
    transition:all 0.5s;

}
header{
    height: 70px;
}

input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}

#dateinput{
    width: 15px;
    border: none;
}
input:focus{
    outline: none;
}
.search{
    border: 1px solid rgba(0, 0, 0, 0.087);
    display:inline-block;
    padding: 10px;
    border-radius: 30px;
    
}
#searchinput{
    border: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #F9F9F9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(163, 155, 155, 0.342);
}
.header1{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #F9F9F9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
    border-bottom: 1px solid rgba(163, 155, 155, 0.342);
}

.navs{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 50px;
}

#theme>image{
     width: 10px;
     height: 10px;
}
#searchinput{
    background-color: #F9F9F9;
}
a{
    text-decoration: none;
    color: black;
}
.mains{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#create_btn{
    background-color: #7B65FF;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
#create_btn:hover{
    background-color: #7B65FF;
    
}

#create_btn>a{
    color: white;
text-align: center;
width:  60px;
padding: 10px;
}
.ca_popup{
padding-top:12px;
}

.ca_popup>li{
   padding:6px;
   /* text-align: center; */
   text-indent:30px;
   /* border-bottom: 1px solid rgba(170, 140, 224, 0.205); */
  
   cursor: pointer;
}
.ca_popup>li:hover{
    background-color:rgba(72, 69, 94, 0.041);
}


.ca_popup>li>a{
    font-size:12px;
   
}



#categories{
    color: blue;
    border:1px solid rgba(128, 128, 128, 0.751);
    padding:10px;
    background-color: #F9F9F9;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}
#post_desc,#trend_description{
    font-size:14px;
     
 
}
.categories_nav {
    width:15%;
    border-right: 1px solid rgba(128, 128, 128, 0.176);
    height: 100vh;
    margin-top: 100px;
    position: fixed;
    
}

#see_more{
    color: #7B65FF;
    cursor: pointer;
}
.categories_nav li{
   list-style: none;
 
   
}




.main_view{
    width:57%;
    position: relative;
    top: 100px;
    padding: 10px;
    left: 15%;
    height: 100%;
   


    
}

.post_view{
    /* border: 1px solid rgba(128, 128, 128, 0.201); */
    /* box-shadow:1px 1px 4px  rgba(56, 55, 55, 0.959);*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}



.post_head
{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

#user_dp{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#post{
    width: 100%;
}
.social_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description{
    padding: 5px;
}

.add_comment_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#comment_input{
width: 80%;
height:30px;
padding-left: 10px;
text-align: justify;
overflow: scroll;
border-radius: 20px;
border: none;
background-color: rgba(233, 233, 233, 0.337);
}
.logo_div{
    text-align: center;
    padding: 10px;
}

.trending_views{
    width: 20%;
    position: absolute;
    top:100px;
    left:74%;  
}


.trend_post_view{
    padding: 10px;
}

#more{
    display: none;
    cursor: pointer;
}

.fa-thumbs-up,.fa-comment,.fa-paper-plane{
  cursor: pointer;
}

.comment_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:10px;
    
}

#comment{
    font-size: 12px;
}
.cmnt_header{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    padding-top: 10px;
}
.replay_s{
    font-size: 10px;
    padding: 8px;
}
.fa-solid .fa-reply{
    width: 15px;
    height: 15px;
}
.comment_section{
    display: none;
}
.fa-paper-plane{
    display: none;
}
.d_block{
    display: block;
}

.logo_div{
    position: sticky;
    top: 100px;
    width: 120%;
    z-index: 0;
    background-color:white;
}
.black{
    background-color: black;
}

.img_nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    background-color: white;
    padding:5px;
   border-radius:20px;
   border: 2px solid rgba(128, 128, 128, 0.064);
 visibility: hidden;
}

.liked{
    filter: grayscale(50%);
}


.imagediv{
    cursor: pointer;
}
.imagediv a{
    padding:5px;
    font-size: 13px;
}
 a:hover{
   color: grey;
}

.like_div,.comment_icon{
    cursor: pointer;
}

.imagediv:hover .img_nav{
    visibility: visible;
}

/*eaditi catgory page*/

.container1{
    display: none;
   
}

/* .Category_div{
    position: absolute;
    margin: 0 auto;
} */

.none{
    display: none;
}