
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #FDFDFD;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #FDFDFD;
}

.container{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
  border-radius: 40px;
  overflow: hidden;

}
.input-box{
  padding: 25px;

}



.container .content-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.container .content-box .content{
  width: 65%;
}

.container .content-box .content h2{
  color: rgba(0, 0,0,0.8);

  text-align: center;
  margin-bottom: 30px;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.input-butn{
  text-align: center;
}


.input-box label{
  display: block;
  color: rgba(0, 0,0,0.7);
  letter-spacing: 1px;
}

.input-box input{
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: rgb(236, 236, 236);
  margin: 10px 0;
  outline: none;
  border: none;
  font-size: 0.9rem;
 
}


.input-butn input[type="submit"]{
    width: 30%;
    height: 40px;
  background-color:#7B65FF;
  color: white;
  border-radius: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}
p{
  text-align: center;
  color:  rgba(87, 86, 86, 0.7);
  padding: 20px;
}
span.color{
    color:#7B65FF ;
}

a{
  text-decoration: none;
  } 
i{
  background-color: rgb(236, 236, 236);
  text-align: end;
}
span.icon {
  position: absolute;
  top: 434px;
  left: 621px;
  background-color: rgb(236, 236, 236);
}
#login_error{
  color: red;
  visibility: hidden;
}
.error_visible{
  color: red;
  visibility: visible;
}
.input{
  border: 1px solid red;

}
