*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';

}
body{
    /* max-width:1440px; */
    width: 100%;
    height: 100%;

}
<<<<<<< HEAD
.img1{
    width: 200px;
    height: 200px;
}
.img2{
    width: 40px;
    border-radius: 250px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
img{
    width: 100%;
    height: 100%;
}
=======
>>>>>>> 9b8b78163ad3799537c7a31395afd3b010778514
.menu_bar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    /* border-bottom: 1px solid; */
    display: flex;
    top: 0;
    z-index: 1;
}
#second_container{
    margin-top: 10%;
}
#id_name{
    font-weight: lighter;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> 9b8b78163ad3799537c7a31395afd3b010778514

}

#profile{
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: center; 
    text-align: center;
    flex-direction:column; 
    position: relative;
    /* right: 150px; */
    
}
#pen{
    margin-left:140px;
    position: relative;
    left: 30px;
    bottom:30px;
   
    
}
.box_icon{
    display: flex;
    gap: 10px;
}
<<<<<<< HEAD
=======
#news1{
    width:10%;
    border-radius: 250px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

>>>>>>> 9b8b78163ad3799537c7a31395afd3b010778514
.sub_username{
    font-size: small;
    margin-top: 10px;
    
}
.first_news{
    width: 30%;
    height: 420px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* background-color: burlywood; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.discription{
    padding: 5px;
}
.dis_img{
    width: 100%;
}
#like_command{
    display: flex;
    justify-content:space-around;
    gap: 40px;
}
<<<<<<< HEAD
#news_container>*{width: 50%;}
=======

>>>>>>> 9b8b78163ad3799537c7a31395afd3b010778514
#news_container{
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25%;
    margin-top: 3%;
<<<<<<< HEAD
=======
    max-width: 800px;
    flex-wrap: wrap;
>>>>>>> 9b8b78163ad3799537c7a31395afd3b010778514
 /* background-color: aquamarine; */
    /* justify-content: space-around; */
    
    gap: 30px;
}

#profile_sidebar{
    display: flex;
    
}
#seemore{
    color: rgb(0, 174, 255);
}
#icon_discription{
    padding: 10px;
}
#news_expand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 251, 251);
    width:45%;
    padding: 20px;
    margin-top: 110px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.box_icon1{
    display: flex;
    margin-right:50%;
}
#news11{
    width: 20%;
    border-radius: 50%;
    
}
.sub_username1{
   margin-top: 30px;
   margin-left: 20px;

}
#full_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
#full_discription{
    margin-top: 10px;
}

/* --------------------------------------------------------------- */
/* 
.post_view{
    border: 1px solid rgba(128, 128, 128, 0.201); /
    box-shadow:1px 1px 4px  rgba(55, 54, 54, 0.164);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}



.post_head
{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

#user_dp{
    / width: 20px;
    height: 20px; */
/* }

#post{
    width: 100%;
}
.social_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description{
    padding: 5px;
}

.add_comment_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#comment_input{
width: 80%;
height:30px;
padding-left: 10px;
text-align: justify;
overflow: scroll;
border-radius: 20px;
border: none;
background-color: rgba(233, 233, 233, 0.337);
}
.logo_div{
    text-align: center;
    padding: 10px;
} */ 